ca-certificates
curl
git
lsb-release
sudo
python3-pip
wget
# QGC dependencies
gedit
gstreamer1.0-plugins-bad
gstreamer1.0-libav
gstreamer1.0-gl
libfuse2
libxcb-xinerama0
libxkbcommon-x11-0
libxcb-cursor-dev
# PlotJuggler runtime dependencies
libqt5svg5
libqt5websockets5
libqt5opengl5
libqt5x11extras5
libzmq5
